### Semester 1 Modules
agrh/
req/

### Semester 2 Modules
mgli/
bsys/
uuid/
eprco/

### Semester 3 Modules
swc/

### Projects
ip3bb/

# Contains lecture documents of my modules
*/**/docs
*/**/cards
_admin/

# Java
bin/
*.class

# Haskell
*.exe
*.o
*.hi

# Vagrant
.vagrant